
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-74528521-1', 'auto');ga('require', 'GTM-NSBTHQL');ga('send', 'pageview');</script>
        <title>Post a tutorial</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
        <link href="/static/tutor/tutor.css" rel="stylesheet">
        <!-- <link href="./cabinet_tutor_stylesheets.css" rel="stylesheet"> -->
    </head>
    <body>

    <div class="wrapper spacer js-wrapper">
        <div class="top-part">
            
    <!-- header -->
        {% include 'partials/tutor_header.html' %}
            
    <div class="left-sidebar">
        <!-- navigation -->
        <ul class="my-page__nav js-navigation">

                    <li class="my-page__nav-item ">
                <a class="my-page__nav-link" href="/ask-a-question"><span class="my-page__nav-title"><i class="fa fa-plus-circle"></i>Ask a Question</span></a>        </li>
            <li class="my-page__nav-item ">
                <a class="my-page__nav-link" href="/my-questions"><span class="my-page__nav-title"><i class="fa fa-folder-open"></i>My Questions</span><span class="my-page__nav-notification my-page__nav-notification_type_text js-proposals-global-mark"><span class="js-header-msg-count"></span><span class="js-proposal-global-end"></span></a>        </li>
            <li class="my-page__nav-item ">
                <a class="my-page__nav-link" href="/account/balance"><span class="my-page__nav-title"><i class="fa fa-money	"></i>Balance</span><span class="my-page__nav-notification my-page__nav-notification_type_link balance_amount">$0.00</span></a>        </li>

                    <li class="my-page__nav-item ">
                <a class="my-page__nav-link" href="/support"><span class="my-page__nav-title"><i class="fa fa-comments-o"></i>Support</span><span class="my-page__nav-notification "></span></a>        </li>

            <li class="my-page__nav-item ">
                <a class="my-page__nav-link" href="/account/edit"><span class="my-page__nav-title"><i class="fa fa-cog"></i>Profile</span> </a>        </li>
        </ul>
    </div>

            <section class="my-page">
                <iframe class="frame_for_sidebar_sizes" name="sidebar_frame" width=100% height=100%>
                </iframe>
                <div class="form">
                    <h1 class="my-page__title text-center">Contact With Support Team</h1>
                    <form id="support-form" class="form support-page__form my-page__little-inner" action="" method="post">
                        <input type="hidden" name="_csrf" value="b09uNVdtZEcaHChXDjUyCFwIKlgCCzEJLSMqciEgLggwKDhYbhgOMw==">
                        <div class="form__row field-supportform-type required">
                        <p class="form__label">Type:</p>
                        <div class="custom-select support-page__type-select">
                            <select id="supportform-type" class="js-subtype" name="supportType">
                                <option value="1">General question</option>
                                <option value="2">Financial question</option>
                                <option value="3">Technical question</option>
                            </select>
                        </div>

                        <div class="help-block">

                        </div>
                </div>
                        <div class="form__row js-order-row field-supportform-orderid" style="display:none">
                        <p class="form__label">Order id:</p>
                        <select id="supportform-orderid" class="" name="orderID">
                        <option value="">Choose</option>
                </select>

    <div class="help-block"></div>
    </div>
                        <div class="form__row field-supportform-subject required">
    <p class="form__label">Subject:</p>
    <input type="text" id="supportform-subject" class="data-hj-whitelist" name="subject" data-hj-whitelist>

    <div class="help-block"></div>
    </div>
                        <div class="form__row field-supportform-message required">
    <p class="form__label">Please, enter a brief description of the problem:</p>
    <textarea id="supportform-message" class="form-control data-hj-whitelist" name="message" rows="10" data-hj-whitelist></textarea>

    <div class="help-block"></div>
    </div>
                        <div class="form__row">
                            <button type="submit" class="button button_color_blue button_size_medium button_height_40px">SEND</button>                    </div>
                    </form>
                    </div>
            </section>
            
    <div class="right-sidebar">

    </div>
        </div>
    </div>

        {% include 'partials/main_footer.html' %}


    <div style="display: none;" id="socket-config" data-socket-url="wss://wss.studydaddy.com:8099" data-user-id="222180"></div>

    <script src="/static/tutor/scripts.min.js"></script>

    <script type="text/javascript"></script>


    </body>
</html>