<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/nav.css">
        <link rel="stylesheet" href="/static/c/css/style.css">
        <link rel="stylesheet" href="/static/c/css/swiper-bundle.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <style>
        header{
            position:fixed !important;
            max-width:100%;
            width:100%;
            color:var(--white);
            transition:all .5s;
            z-index:1000000;
        }

        .logo a{
            color: white;
        }

        .headerBg .logo a{
            color: rgb(24, 24, 24);
        }
    </style>
    <body>


        <div class="mo-signup"></div>    
        <style>
            header{

                margin-bottom:400px;
            }
            
        </style> 
        
        <div class="cta" style="min-height: 120vh;">
            <header class="">
                <nav>
                    <input type="checkbox" onclick="setTheme()" name="theme" id="theme">
                    <div class="navigation-bar-wrapper">
                        <input type="checkbox"  name="openandclose" id="openandclose">
                        <div class="portfolio-logo logo">
                            <a href="/">
                                <h1>STUDYALLIES</h1>
                            </a>
                        </div>
                        {% if not user%}
                            <ul class="navigation-bar-links">
                                <li><a href="/how/it/works">How it Works</a></li>
                                <li><a href="/homework/answers">Homework Answers</a></li>
                                <li><a href="/ask/a/question">Ask a Question</a></li>
                                <li><a href="/top/tutors">Top Tutors</a></li>
                                <li><a href="/faqs">FAQ</a></li>
                                <li id="signupmodal" onclick="openM()" class="cursor-pointer p-10-20">
                                    <p>Sign In</p>
                                </li>
                                <li><i   onclick="toogleSearch()" class="bx bx-search mob"></i></li>

                                <div class="search b-r-10">
                                    <input class="p-l-10" type="text" placeholder="Search...">
                                    <i onclick="toogleSearch()" class='bx bx-search p-r-10'></i>
                                </div>
                            </ul>
                        {% else %}
                            <ul class="navigation-bar-links">
                                <li><a href="/ask/a/question">Ask a Question</a></li>
                                <li><a href="/homework/answers">Homework Answers</a></li>
                                <li><a href="/faqs">FAQ</a></li>
                                <li id="" class="cursor-pointer" style="border: 2px white solid;">
                                    <p>My Account</p>
                                </li>
                                <li><i   onclick="toogleSearch()" class="bx bx-search mob"></i></li>
                                <div class="search b-r-10">
                                    <input class="p-l-10" type="text" placeholder="Search...">
                                    <i onclick="toogleSearch()" class='bx bx-search p-r-10'></i>
                                </div>
                            </ul>
                        {% endif %}
                        
                        
                        <div class="mobile" style="display: flex;gap:10px;">
                            <li class="s-icon"><i onclick="toogleSearch()" class="bx bx-search"></i></li>
                            <label id="open" for="openandclose" class="p-l-10" >
                                <div class="">
                                    <div class="menu"></div>
                                    <div class="menu mid"></div>
                                    <div class="menu"></div>
                                </div>
                            </label>

                            <div class="search-mobile b-r-10 ">
                                <input class="p-l-10" type="text" placeholder="Search...">
                                <i onclick="toogleSearch()" class='bx bx-search p-r-10'></i>
                            </div>
                        </div>
                        
                    </div>
                </nav>
            </header> 
            <div class="p-t-100">
                <div class="display-flex w-p-85 m-a">
                    <div class="col-4 display-flex-normal items-center" >
                        <div class="box p-30-0">
                            <h1 class="p-20-0 c-white">STUDYDADDY – YOUR PERSONAL HOMEWORK HELPER</h1>
                            <p class="p-20-0 c-white">Be the next student to get online tutoring with StudyDaddy</p>
                            <div class="button siteButton1">
                                <button class="p-20-30">ASK A QUESTION</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <img height="500px" src="/static/images/index_img.webp" alt="">
                    </div>
                </div>
            </div>

        
            
        </div> 



        <div class="how-it-works p-b-100">
            <div class="display-flex-normal column w-p-85 m-a">
                <div class="after-left">
                    <h2>HOW IT WORKS</h2>
                </div>
                <div class="display-flex centered">
                    <div class="col-4">
                        <div class="how-to-box prr">
                            <div class="top-how-to display-flex-normal prr">
                                <figure class="m-b-30">
                                    <img src="/static/images/hiw1.svg" alt="">
                                    <figcaption class="b-t-l-r-20 b-t-r-r-20 b-b-r-r-20">1</figcaption>
                                </figure>

                                <div class="xm">
                                    <div class="arr rr"></div>
                                </div>
                            </div>
                            <div class="text-how-to">
                                <div class="p-20-0">
                                    <h2 class="p-20-0">POST A QUESTION</h2>
                                    <p class="p-s20">Describe the subject of your question in details and set up your deadline. All questions are posted 100% anonymously.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="how-to-box">
                            <div class="top-how-to display-flex-normal prr">
                                <figure class="m-b-30">
                                    <img src="/static/images/hiw2.png" alt="">
                                    <figcaption class="b-t-l-r-20 b-t-r-r-20 b-b-r-r-20">2</figcaption>
                                </figure>

                                <div class="arr rr"></div>
                            </div>
                            <div class="text-how-to">
                                <div class="p-20-0">
                                    <h2 class="p-20-0">POST A QUESTION</h2>
                                    <p class="p-s20">Describe the subject of your question in details and set up your deadline. All questions are posted 100% anonymously.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="how-to-box">
                            <div class="top-how-to display-flex-normal prr">
                                <figure class="m-b-30">
                                    <img src="/static/images/hiw3.svg" alt="">
                                    <figcaption class="b-t-l-r-20 b-t-r-r-20 b-b-r-r-20">3</figcaption>
                                </figure>

                                <div class="arr last-child"></div>
                            </div>
                            <div class="text-how-to">
                                <div class="p-20-0">
                                    <h2 class="p-20-0">POST A QUESTION</h2>
                                    <p class="p-s20">Describe the subject of your question in details and set up your deadline. All questions are posted 100% anonymously.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <div class="feedbacks">
            <div class="">
                <div class="feedbacks-d display-flex">
                    <div class="after-center">
                        <h1 class="text-center">OUR STUDENTS FEEDBACK</h1>
                    </div>
                    <div class="slide-container swiper">
                        <div class="slide-content">
                            <div class="card-wrapper  swiper-wrapper">
                                <div class="card p-30-20 bgwhite swiper-slide">
                                    <div class="image-content m-10  ">
                                    

                                        <div class="card-image b-one">
                                            <img src="/static/c/images/profile2.jpg" class="card-img" alt="">
                                        </div>

                                        <div class="answer">
                                            <div class="rating">
                                                rate
                                            </div>
                                            <div class="">
                                                Answwered by <span class="default-color">Margroba</span>
                                            </div>
                                        </div>
                                        
                                    
                                    </div>
            
                                    <div class="card-content">
                                        
                                        <p class="description">“My appreciations to this tutor who supported me to complete this complicated task. I would recommend StudyDaddy to my friends who are looking for homework help.”</p>
            
                                        <div class="">
                                            <div class="">
                                                <div class="">
                                                    <small class="fade">Related to the answer: "You Decide Project"</small>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                                <div class="card p-30-20 bgwhite swiper-slide">
                                    <div class="image-content m-10  ">
                                    

                                        <div class="card-image b-one">
                                            <img src="/static/c/images/profile2.jpg" class="card-img" alt="">
                                        </div>

                                        <div class="answer">
                                            <div class="rating">
                                                rate
                                            </div>
                                            <div class="">
                                                Answwered by <span class="default-color">Margroba</span>
                                            </div>
                                        </div>
                                        
                                    
                                    </div>
            
                                    <div class="card-content">
                                        
                                        <p class="description">“My appreciations to this tutor who supported me to complete this complicated task. I would recommend StudyDaddy to my friends who are looking for homework help.”</p>
            
                                        <div class="">
                                            <div class="">
                                                <div class="">
                                                    <small class="fade">Related to the answer: "You Decide Project"</small>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                                <div class="card p-30-20 bgwhite swiper-slide">
                                    <div class="image-content m-10  ">
                                    

                                        <div class="card-image b-one">
                                            <img src="/static/c/images/profile2.jpg" class="card-img" alt="">
                                        </div>

                                        <div class="answer">
                                            <div class="rating">
                                                rate
                                            </div>
                                            <div class="">
                                                Answwered by <span class="default-color">Margroba</span>
                                            </div>
                                        </div>
                                        
                                    
                                    </div>
            
                                    <div class="card-content">
                                        
                                        <p class="description">“My appreciations to this tutor who supported me to complete this complicated task. I would recommend StudyDaddy to my friends who are looking for homework help.”</p>
            
                                        <div class="">
                                            <div class="">
                                                <div class="">
                                                    <small class="fade">Related to the answer: "You Decide Project"</small>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>

                                <div class="card p-30-20 bgwhite swiper-slide">
                                    <div class="image-content m-10  ">
                                    

                                        <div class="card-image b-one">
                                            <img src="/static/c/images/profile2.jpg" class="card-img" alt="">
                                        </div>

                                        <div class="answer">
                                            <div class="rating">
                                                rate
                                            </div>
                                            <div class="">
                                                Answwered by <span class="default-color">Margroba</span>
                                            </div>
                                        </div>
                                        
                                    
                                    </div>
            
                                    <div class="card-content">
                                        
                                        <p class="description">“My appreciations to this tutor who supported me to complete this complicated task. I would recommend StudyDaddy to my friends who are looking for homework help.”</p>
            
                                        <div class="">
                                            <div class="">
                                                <div class="">
                                                    <small class="fade">Related to the answer: "You Decide Project"</small>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                                <div class="card p-30-20 bgwhite swiper-slide">
                                    <div class="image-content m-10  ">
                                    

                                        <div class="card-image b-one">
                                            <img src="/static/c/images/profile2.jpg" class="card-img" alt="">
                                        </div>

                                        <div class="answer">
                                            <div class="rating">
                                                rate
                                            </div>
                                            <div class="">
                                                Answwered by <span class="default-color">Margroba</span>
                                            </div>
                                        </div>
                                        
                                    
                                    </div>
            
                                    <div class="card-content">
                                        
                                        <p class="description">“My appreciations to this tutor who supported me to complete this complicated task. I would recommend StudyDaddy to my friends who are looking for homework help.”</p>
            
                                        <div class="">
                                            <div class="">
                                                <div class="">
                                                    <small class="fade">Related to the answer: "You Decide Project"</small>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                                <div class="card p-30-20 bgwhite swiper-slide">
                                    <div class="image-content m-10  ">
                                    

                                        <div class="card-image b-one">
                                            <img src="/static/c/images/profile2.jpg" class="card-img" alt="">
                                        </div>

                                        <div class="answer">
                                            <div class="rating">
                                                rate
                                            </div>
                                            <div class="">
                                                Answwered by <span class="default-color">Margroba</span>
                                            </div>
                                        </div>
                                        
                                    
                                    </div>
            
                                    <div class="card-content">
                                        
                                        <p class="description">“My appreciations to this tutor who supported me to complete this complicated task. I would recommend StudyDaddy to my friends who are looking for homework help.”</p>
            
                                        <div class="">
                                            <div class="">
                                                <div class="">
                                                    <small class="fade">Related to the answer: "You Decide Project"</small>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                                <div class="card p-30-20 bgwhite swiper-slide">
                                    <div class="image-content m-10  ">
                                    

                                        <div class="card-image b-one">
                                            <img src="/static/c/images/profile2.jpg" class="card-img" alt="">
                                        </div>

                                        <div class="answer">
                                            <div class="rating">
                                                rate
                                            </div>
                                            <div class="">
                                                Answwered by <span class="default-color">Margroba</span>
                                            </div>
                                        </div>
                                        
                                    
                                    </div>
            
                                    <div class="card-content">
                                        
                                        <p class="description">“My appreciations to this tutor who supported me to complete this complicated task. I would recommend StudyDaddy to my friends who are looking for homework help.”</p>
            
                                        <div class="">
                                            <div class="">
                                                <div class="">
                                                    <small class="fade">Related to the answer: "You Decide Project"</small>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                                <div class="card p-30-20 bgwhite swiper-slide">
                                    <div class="image-content m-10  ">
                                    

                                        <div class="card-image b-one">
                                            <img src="/static/c/images/profile2.jpg" class="card-img" alt="">
                                        </div>

                                        <div class="answer">
                                            <div class="rating">
                                                rate
                                            </div>
                                            <div class="">
                                                Answwered by <span class="default-color">Margroba</span>
                                            </div>
                                        </div>
                                        
                                    
                                    </div>
            
                                    <div class="card-content">
                                        
                                        <p class="description">“My appreciations to this tutor who supported me to complete this complicated task. I would recommend StudyDaddy to my friends who are looking for homework help.”</p>
            
                                        <div class="">
                                            <div class="">
                                                <div class="">
                                                    <small class="fade">Related to the answer: "You Decide Project"</small>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                                <div class="card p-30-20 bgwhite swiper-slide">
                                    <div class="image-content m-10  ">
                                    

                                        <div class="card-image b-one">
                                            <img src="/static/c/images/profile2.jpg" class="card-img" alt="">
                                        </div>

                                        <div class="answer">
                                            <div class="rating">
                                                rate
                                            </div>
                                            <div class="">
                                                Answwered by <span class="default-color">Margroba</span>
                                            </div>
                                        </div>
                                        
                                    
                                    </div>
            
                                    <div class="card-content">
                                        
                                        <p class="description">“My appreciations to this tutor who supported me to complete this complicated task. I would recommend StudyDaddy to my friends who are looking for homework help.”</p>
            
                                        <div class="">
                                            <div class="">
                                                <div class="">
                                                    <small class="fade">Related to the answer: "You Decide Project"</small>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="p-t-50">

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="benefils p-b-100">
            <div class="display-flex-normal column w-p-92 m-a">
                <div class="after-center">
                    <h2 class="text-center">OUR BENEFITS</h2>
                </div>
                <div class="display-flex">
                    <div class="col-3 col-s-6 col-m-6">
                        <div class="">
                            <div style="    padding: 59px 20px 25px;" class="bs  m-30 b-t-r-r-30  b-t-l-r-30 b-b-r-r-30">
                                <div class="dispay-flex  column text-center w-p-100">
                                    <div class="benefit-list w-p-100  h-100 text-center">
                                        <img src="/static/images/benefit1.png" class="w-80   " alt="">
                                    </div>
                                    <div class="benefit-title p-0">
                                        <p class="head ">24/7 Homework Help</p>
                                    </div>
                                    <div class="benefit-desc p-0- fade ">
                                        <p>Our team works 24/7 to help you whenever you need, so even tutoring at night is not a problem.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-s-6 col-m-6">
                        <div class="">
                            <div style="    padding: 59px 20px 25px;" class="bs  m-30 b-t-r-r-30  b-t-l-r-30 b-b-r-r-30">
                                <div class="dispay-flex  column text-center w-p-100">
                                    <div class="benefit-list w-p-100  h-100 text-center">
                                        <img src="/static/images/benefit2.png" class="w-80   " alt="">
                                    </div>
                                    <div class="benefit-title p-0">
                                        <p class="head ">Instant Communication With Tutors</p>
                                    </div>
                                    <div class="benefit-desc p-0- fade ">
                                        <p>Our Live chat option allows solving any homework-related questions straightaway.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-s-6 col-m-6">
                        <div class="">
                            <div style="    padding: 59px 20px 25px;" class="bs  m-30 b-t-r-r-30  b-t-l-r-30 b-b-r-r-30">
                                <div class="dispay-flex  column text-center w-p-100">
                                    <div class="benefit-list w-p-100  h-100 text-center">
                                        <img src="/static/images/benefit3.png" class="w-60 " alt="">
                                    </div>
                                    <div class="benefit-title p-0">
                                        <p class="head ">100% Confidential</p>
                                    </div>
                                    <div class="benefit-desc p-0- fade ">
                                        <p>Your private information is secure and confidential. All the questions are posted anonymously.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-s-6 col-m-6">
                        <div class="">
                            <div style="    padding: 59px 20px 25px;" class="bs  m-30 b-t-r-r-30  b-t-l-r-30 b-b-r-r-30">
                                <div class="dispay-flex  column text-center w-p-100">
                                    <div class="benefit-list w-p-100  h-100 text-center">
                                        <img src="/static/images/benefit4.png" class="w-80  " alt="">
                                    </div>
                                    <div class="benefit-title p-0">
                                        <p class="head ">Quality Help</p>
                                    </div>
                                    <div class="benefit-desc p-0- fade ">
                                        <p>We assure high quality homework help provided by experts with Masters & PhDs in all study fields.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 


        <div class="update">
            <div class="display-flex-normal column w-p-92 m-a">
                <div class="after-center">
                    <h2 class="text-center">LATEST UPDATES</h2>
                </div>
                <div class="updates-box wrap display-flex">
                    <div class="update-wrap bs  b-t-r-r-30  b-t-l-r-30 b-b-r-r-30">
                        <div class="items p-l-30 p-r-30 p-t-40 p-b-40">
                            <div class="item-list ">
                            <div class="left-side">
                                    <div class="icon cursor-pointer m-l-10 b-t-r-r-50  b-t-l-r-50 b-b-r-r-50">
                                        <i class="fa fa-comments"></i>
                                    </div>
                                    <div class="list p-l-30">
                                        <p><a href="">Tutor_Chacha</a> and Solaa are talking</p>
                                    </div>
                            </div>
                            <div class="right-side">
                                    <div class="time">
                                        <p class="fade">1 hour ago</p>
                                    </div>
                            </div>
                            </div>
                            <div class="item-list ">
                                <div class="left-side">
                                    <div class="icon cursor-pointer m-l-10 b-t-r-r-50  b-t-l-r-50 b-b-r-r-50">
                                        <i class="fa fa-comments"></i>
                                    </div>
                                    <div class="list p-l-30">
                                        <p><a href="">Tutor_Chacha</a> and Solaa are talking</p>
                                    </div>
                                </div>
                                <div class="right-side">
                                    <div class="time">
                                        <p class="fade">1 hour ago</p>
                                    </div>
                                </div>
                            </div>

                            <div class="item-list ">
                                <div class="left-side">
                                    <div class="icon cursor-pointer m-l-10 b-t-r-r-50  b-t-l-r-50 b-b-r-r-50">
                                        <i class="fa fa-comments"></i>
                                    </div>
                                    <div class="list p-l-30">
                                        <p><a href="">Tutor_Chacha</a> and Solaa are talking</p>
                                    </div>
                                </div>
                                <div class="right-side">
                                    <div class="time">
                                        <p class="fade">1 hour ago</p>
                                    </div>
                                </div>
                            </div>

                            <div class="item-list ">
                                <div class="left-side">
                                    <div class="icon cursor-pointer m-l-10 b-t-r-r-50  b-t-l-r-50 b-b-r-r-50">
                                        <i class="fa fa-comments"></i>
                                    </div>
                                    <div class="list p-l-30">
                                        <p><a href="">Tutor_Chacha</a> and Solaa are talking</p>
                                    </div>
                                </div>
                                <div class="right-side">
                                    <div class="time">
                                        <p class="fade">1 hour ago</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item-list ">
                                <div class="left-side">
                                    <div class="icon cursor-pointer m-l-10 b-t-r-r-50  b-t-l-r-50 b-b-r-r-50">
                                        <i class="fa fa-comments"></i>
                                    </div>
                                    <div class="list p-l-30">
                                        <p><a href="">Tutor_Chacha</a> and Solaa are talking</p>
                                    </div>
                                </div>
                                <div class="right-side">
                                    <div class="time">
                                        <p class="fade">1 hour ago</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item-list ">
                                <div class="left-side">
                                    <div class="icon cursor-pointer m-l-10 b-t-r-r-50  b-t-l-r-50 b-b-r-r-50">
                                        <i class="fa fa-comments"></i>
                                    </div>
                                    <div class="list p-l-30">
                                        <p><a href="">Tutor_Chacha</a> and Solaa are talking</p>
                                    </div>
                                </div>
                                <div class="right-side">
                                    <div class="time">
                                        <p class="fade">1 hour ago</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="update-wrap-out bs  b-t-r-r-30  b-t-l-r-30 b-b-r-r-30 "></div>
                </div>
            </div>
        </div>
        
        <div class="homeworks ">
            <div class="display-flex-normal p-t-100  column w-p-92 m-a">
                <div class="after-center">
                    <h2 class="text-center">HOMEWORK CATEGORIES
                    </h2>
                </div>
                <div class="display-flex col-9 m-a p-20">
                    <div class="col-3">
                        <div class="homework-alpha">
                            <div class="alpha">
                                <ul>
                                    <h2>A</h2>
                                    <li><a href="#">Accounting</a></li>
                                    <li><a href="#">Algebra</a></li>
                                    <li><a href="#">Applied Sciences</a></li>
                                    <li><a href="#">Architecture and Design</a></li>
                                    <li><a href="#">Art &amp; Design</a></li>
                                    <li><a href="#">Article Writing</a></li>
                                </ul>

                            </div>
                            <div class="alpha">
                                <ul>
                                    <h2>B</h2>
                                    <li><a href="#">Biology</a></li>
                                    <li><a href="#">Business</a></li>


                                </ul>

                            </div>
                            <div class="alpha">
                                <ul>
                                    <h2>C</h2>
                                    <li><a href="#">Finance</a></li>
                                    <li><a href="#">Calculus</a></li>
                                    <li><a href="#">Chemistry</a></li>
                                    <li><a href="#">Communications</a></li>
                                    <li><a href="#">Computer Science</a></li>
                                </ul>

                            </div>
                        
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="homework-alpha">
                            <div class="alpha">
                                <ul>
                                    <h2>E</h2>
                                    <li><a href="#">Economics</a></li>
                                    <li><a href="#">Engineering</a></li>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">Environmental Science</a></li>
                                </ul>

                            </div>
                            <div class="alpha">
                                <ul>
                                    <h2>F</h2>
                                    <li><a href="#">Film</a></li>
                                    <li><a href="#">Foreign Languages</a></li>
                                </ul>

                            </div>
                            <div class="alpha">
                                <ul>
                                    <h2>G</h2>
                                    <li><a href="#">Geography</a></li>
                                    <li><a href="#">Geology</a></li>
                                    <li><a href="#">Geometry</a></li>
                                </ul>

                            </div>
                        
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="homework-alpha">
                            <div class="alpha">
                                <ul>
                                    <h2>H</h2>
                                    <li><a href="#">Health &amp; Medical</a></li>
                                    <li><a href="#">History</a></li>
                                    <li><a href="#">HR Management</a></li>  
                                </ul>

                            </div>
                            <div class="alpha">
                                <ul>
                                    <h2>I</h2>
                                    <li><a href="#">Information Systems</a></li>
                                    
                                </ul>

                            </div>
                            <div class="alpha">
                                <ul>
                                    <h2>L</h2>
                                    <li><a href="#">Law</a></li>
                                    <li><a href="#">Literature</a></li>
                                </ul>

                            </div>
                            <div class="alpha">
                                <ul>
                                    <h2>M</h2>
                                    <li><a href="#">Management</a></li>
                                    <li><a href="#">Marketing</a></li>
                                    <li><a href="#">Math</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="homework-alpha">
                            <div class="alpha">
                                <ul>
                                    <h2>N</h2>
                                    <li><a href="#">Numerical Analysis</a></li>

                                </ul>

                            </div>
                            <div class="alpha">
                                <ul>
                                    <h2>P</h2>
                                    <li><a href="#">Philosophy</a></li>
                                    <li><a href="#">Physics</a></li>
                                    <li><a href="#">Political Science</a></li>
                                    <li><a href="#">Precalculus</a></li>
                                    <li><a href="#">Programming</a></li>
                                    <li><a href="#">Psychology</a></li>
                                </ul>

                            </div>
                            <div class="alpha">
                                <ul>
                                    <h2>S</h2>
                                
                                    <li><a href="#">Science</a></li>
                                    <li><a href="#">Social Science</a></li>
                                    <li><a href="#">Statistics</a></li>
                                </ul>

                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="online-tutorial m-b-30 mmm" style="margin-top: -450px;">
            <div class="col-9 bgwhite m-a ccc bs b-t-r-r-30  b-t-l-r-30 b-b-r-r-30">
                <div class="p-t-30">
                    <div class="after-center">
                        <h2 class="text-center">GET ONLINE TUTORING WITH STUDYDADDY
                        </h2>
                    </div>
                </div>
                <div class="textess p-20-40">
                    <div>
                        <p class="fade">Every day students have to face multiple assignments, which are not easy to complete. That is why they decide to turn to professional writing services, which are always ready to assist them in delivering essays or any other assignments according to all of the requirements. One of such companies is StudyDaddy, ‘my homework helper’, as thousands of students call us.</p>
                    </div>
                    
                    <div>
                        <p class="fade">Our homework help website has been providing writing services for years and we know exactly what every student needs! The quality of our papers is always on the highest possible level due to qualified writers and editors, outstanding managers and top-notch technologies.</p>
                    </div>
                    
                    <div>
                        <p class="fade">Contacting us by using the ‘ask questions’ form, you will be able to get information on any subject and topic you are interested in. We always have available specialists with all possible degrees, so they will answer all the arising questions as thoroughly as possible. Our managers work 24/7, so you will be able to reach them any time of the day. Even if you have an urgent task or live in a different time zone, we will manage every request without any delays.</p>
                    </div>
                    
                    <div>
                        <p class="fade">Here is what makes our service the best on the market:</p>
                        <ul class="fade">
                        <li>- First-class writers. We hire only real experts with background in all possible fields and degrees of the best universities in the country. You will always be assigned with the author, who knows your subject well and can perform the task easily and on time. Before being hired they complete multiple interviews and tests to prove that they are the best at writing;</li>
                        <li>- Talented editors and proofreaders. Often students contact us, as they need help with polishing their assignments and we have staff especially for such needs! Our team will fix every mistake and make your paper as smooth and flawless as possible;</li>
                        <li>- Original papers. Your assignment will be written from scratch, as we never tolerate plagiarism. You can be sure that your professor will never find any plagiarism in your paper and we are ready to provide you with a report if needed;</li>
                        <li>- Latest encrypting software. We carefully protect your identity and payments, so you can be sure that no one will have access to your personal information and banking details;</li>
                        <li>- Flexible prices. You will never find a first-class online writing service, which offers such reasonable prices as we do! We guarantee that completing a task won’t cost you a fortune and you will even have a chance to save money!</li>
                        <li>- Free revisions and money back guarantees. In case something goes wrong and you won’t find the quality of your task satisfactory, we are ready to revise the paper as many times as needed or even offer you a refund.</li>
                        </ul>
                    </div>
                    
                    <div>
                        <p class="fade">Contact us right now and we guarantee that all of your homework assignments will be completed according to all of your requirements and guidelines. Pay for homework and spend your free time the way you want, while we will do the rest!</p>
                    </div>
                    <div class="text-center">
                        <h1>Who Needs Homework Help?</h1>
                    </div>
                    <div>
                        <p class="fade">Most of the students find it impossible to keep up with all the written assignments, as they have strict deadlines, lots of requirements and details. To have a chance to complete all of them academically, you will need to neglect your personal life, hobbies and job, which is not an option for most of the students.</p>
                    </div>
                    
                    <div>
                        <p class="fade">If you need help with homework and want to avoid sleepless nights, searching for relevant sources and analyzing a huge amount of information and spend time with your friends or family, contacting us will definitely be a right choice! We are ready to complete any assignment, not depending on its complexity and deadlines, as we never drop difficult tasks. You can easily entrust your paper to StudyDaddy and we will complete it in a blink of an eye, while you will concentrate on more pleasant tasks.</p>
                    </div>
                    
                    <div>
                        <p class="fade">In addition, if you want to pay someone to do homework we are ready to offer you full or partial assistance with your homework or any other type of assignments. All you need to do is to attach your task on our website and soon you will receive it with all the explanations, notes, charts and videos, which will help you to prepare for the class.</p>
                    </div>
                    <div class="text-center">
                        <h1>Pay For Homework</h1>
                    </div>
                    

                    <div>
                        <p class="fade">If you are still doubtful of contacting a writing service, we are ready to provide you with all the reviews and testimonials of our customers. We have nothing to hide, so you are always welcome to visit our website and read reviews of those, who already decided to use our pay service and simplify their student years!</p>
                    </div>
                    
                    <div>
                        <p class="fade">Every day hundreds of customers contact us with more and more tasks, as they know that we always take full responsibility for your order and deliver it only when it has no flaws and mistakes. Looking for homework service for pay someone to do your homework? Entrust your task to a team of professionals without any worries and fears.</p>
                    </div>
                    
                    <div>
                        <p class="fade">Moreover, we are always ready to provide you with additional services to make our cooperation simple and safe. You will always get access to your paper and will have a chance to follow the progress. In addition, you will be able to add any changes you need, even in the middle of the work.</p>
                    </div>
                    
                    <div>
                        <p class="fade">We use only best banking systems in the world and never ask you to reveal your real identity, which makes us the safest writing service available! With us, you will be able to get the maximum out of a school writing service and will always be prepared for the class, not depending on how much time you spent on completing the task. Just pay for homework help and forget about any sorrows!</p>
                    </div>
                    <div class="text-center">
                        <h1>Forget Your Problem with Your Homework!</h1>
                    </div>
                    <div>
                        <p class="fade">Our homework helpers work round the clock and speak multiple languages to make you feel comfortable when contacting us, not depending on the time of the day and the country of your residence. Just send your 'I need help with my homework' request and we will do the rest.</p>
                    </div>
                    
                    <div>
                        <p class="fade">Ordering and paying for an assignment has never been so safe and simple: just leave your request and we will do the rest, while you will enjoy your free time and all the pleasures of student years. Rely on StudyDaddy and you will never have to worry about assignments again!</p>
                    </div>
                    
                </div>
            </div>
        </div> 
        
        <div class="learn-div">
            <div class="learn cta-2 col-10 m-a prr">
                <div class="prr">
                    <div class="prr">
                        <div class="text-center bbb prr">
                            <div class="f-s-34">
                                LEARN <span>MORE EFFECTIVELY</span> AND GET BETTER GRADES!
                            </div>
                            <div class="mm">
                                <a class="siteButton11 p-10-50" href="./ask-question.html">Ask a Question</a>                        
                            </div>
                                <img  src="/static/images/girl.webp" class="w-400 fwm" alt="LEARN AND GET BETTER GRADES WITH STUDYDADDY">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="p-t-70">
            <div class="">
                <div class="">
                    <div id="footer" class="footer  f-s-12 footer_type_my js-footer" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
                        <div class="" style="display: flex; flex-direction:column">
                            <div class="col-10 m-a">
                                <ul class=" p-20 footer__links ul-reset display-flex-normal space-between fwm">
                                        <li class="footer__link p-0-20 wp50"><a href="./homeworks-answers.html" title="Homework Answers">Homework Answers</a></li>
                                        <li class="footer__link  p-0-20 wp50"><a href="/ask-a-question" title="Ask a Question" rel="nofollow">Ask a Question</a></li>                    
                                        <li class="footer__link p-0-20 wp50"><a href="/faq" title="FAQ" itemprop="url">FAQ</a></li>
                                        <li class="footer__link p-0-20 wp50"><a href="./write.html" title="Contact Us" itemprop="url">Contact Us</a></li>
                                        <li class="footer__link p-0-20 wp50"><a href="./privacy-policy.html" title="Privacy Policy" itemprop="url">Privacy Policy</a></li>
                                        <li class="footer__link p-0-20 wp50"><a href="/dmca-notice" title="DMCA" itemprop="url">DMCA</a></li>
                                        <li class="footer__link p-0-20 wp50"><a href="/terms-of-use" title="Terms of Use" itemprop="url">Terms of Use</a></li>
                                    </ul>        </div>
                            <div class="display-flex ">
                                Copyright © 2023&nbsp;<a  href="./index.html">Freelance</a></div>
                                <div class="copyright copyright_company display-flex text-center p-10" style="line-height: 20px;">
                                            Worbert Limited -  All right reserved.<br>
                                20 Christou Tsiarta Elma 2, 22, 1077, Nicosia, Cyprus
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/static/js/jQuery.js"></script>
        <script src="/static/c/js/swiper-bundle.min.js"></script>
        <script src="/static/c/js/script.js"></script>
        <script src="/static/js/freelance.js"></script>
        <script>
            function toogleSearch(){
                $( ".search" ).toggleClass( "searchtransition" )
                $( ".search-mobile" ).toggleClass( "searchtransition" ) 
            }

            window.onscroll = ()=>{

                
                if(document.body.scrollTop > 40 || document.documentElement.scrollTop > 40)
                {
                    $("header").addClass("headerBg")
                }

                else
                {
                    $("header").removeClass("headerBg")

                }
            }
            if(screen.width > 888)
            {
                $(".mobile").addClass("hide-m")
            }
            else
            {
                $(".mobile").removeClass("hide-m")

            }

            setInterval(()=>{
                if(screen.width > 888)
                {
                    $(".mobile").addClass("hide-m")
                }
                else
                {
                    $(".mobile").removeClass("hide-m")

                }
            }, 1000);
        </script>
    </body>
</html>