<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/nav.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <style>
        header{
            background: #fff !important;

            margin-bottom:400px;
        }
        h2{
            font-size: 14px;
        }
    </style>
    <div class="container">
        <header class="b">
            <nav>
                <input type="checkbox" onclick="setTheme()" name="theme" id="theme">
                <div class="navigation-bar-wrapper">
                    <input type="checkbox"  name="openandclose" id="openandclose">
                    <div class="portfolio-logo logo">
                        <h1>STUDYALLIES</h1>
                    </div>
                    <ul class="navigation-bar-links">
                        <div class="second-nav">
                            <div class="display-flex-normal column">
                                <li><a href="/api/users/ask/question">Ask a question</a></li>
                                <li><a href="/api/users/my/questions">My Question</a></li>
                                <li><a href="/api/users/balance">Balance</a></li>
                                <li><a href="/account/support">Support</a></li>
                                <li><a href="{{ url_for('getProfile', username=student.username) }}">Profile</a></li>
                            </div>
                        </div>
                        <a href="">Logout<i class='bx bx-log-out'></i></a>
                    </ul>
                    
                    
                        <label id="open" for="openandclose" class="p-l-10" >
                            <div class="">
                                <div class="menu"></div>
                                <div class="menu mid"></div>
                                <div class="menu"></div>
                            </div>
                        </label>

                       
                    
                </div>
            </nav>
        </header>  
    </div>
    <div class="p-40 b-b"></div>

    <div class="page-div w-p-100 m-a b-b">
        <div class="m-a " >
            <div class="display-flex-normal fwm">
                <div class="col-2  prr dn">
                    <div class=" prr side display-flex-normal column b-b b-r w-p-100">
                        <a href="/api/users/ask/question" class=" prr display-flex-normal ">
                            <i class='bx bx-plus-circle p-l-20'></i>
                            <p class="p-l-20">Ask a Question</p>
                        </a>
                        <a href="/api/users/my/questions" class="activeSide prr display-flex-normal ">
                            <i class='bx bxs-folder-open p-l-20'></i> 
                            <p class="p-l-20">My Questions</p>
                        </a>
                        <a href="/api/users/balance" class=" prr display-flex-normal ">
                            <i class='bx bx-money p-l-20'></i>
                            <p class="p-l-20">Balance</p>
                        </a>
                        <a href="/account/support" class=" prr display-flex-normal ">
                            <i class="fa p-l-20 fa-comments"></i> 
                            <p class="p-l-20">
                                Support
                            </p>
                        </a>
                        <a href="{{ url_for('getProfile', username=student.username) }}" class=" prr display-flex-normal ">
                            <i class='bx bx-cog p-l-20'></i> <p class="p-l-20">
                                Profile
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-10">
                    <div class="col-12 m-a">
                        <div class="p-b-20 m-b-20">
                            <div class="p-40-20">
                                
                                
                                <div class="">
                                    <div class="p-20-0">
                                        <div class="">
                                            <div class="btns" >
                                                <div class=" display-flex-normal" style="border-bottom: 1px solid var(--background);justify-content: end;">
                                                    <p id="all-btn" class="quiz-btn b-one cursor-pointer p-10 b-t-r-r-10 b-t-l-r-10 " onclick="tab1(event, 'all', 'quiz-btn', 'quizAccor','QuizLocal')">
                                                        All (0)
                                                    </p>
                                                    <p id="new-btn" class="quiz-btn b-one cursor-pointer p-10 b-t-r-r-10 b-t-l-r-10 " onclick="tab1(event, 'new', 'quiz-btn', 'quizAccor','QuizLocal')">
                                                        New (0)
                                                    </p>
                                                    <p id="progress-btn" class="quiz-btn b-one cursor-pointer p-10 b-t-r-r-10 b-t-l-r-10 " onclick="tab1(event, 'progress', 'quiz-btn', 'quizAccor','QuizLocal')">
                                                        In progress (0)
                                                    </p>
                                                    <p id="finished-btn" class="quiz-btn b-one cursor-pointer p-10 b-t-r-r-10 b-t-l-r-10 " onclick="tab1(event, 'finished', 'quiz-btn', 'quizAccor','QuizLocal')">
                                                        Finished (0)
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" b-r-5">
                                            <table class="b-one w-p-100">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Status</th>
                                                        <th>Question Title</th>
                                                        <th class="dn">Gategory Name</th>
                                                        <th>Question Deadline</th>
                                                        <th class="dn">Price</th>
                                                        <th class="dn">Proposals Count</th>
                                                        <th>Answers Count</th>
                                                        <th class="dn">Tutor Name</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
    
                                                    
                                                    <div id="all" class="quizAccor">
                                                        {% for task in tasks %}
                                                        <tr>
                                                            <td>{{ task.id }}</td>
                                                            <td>{{ task.progress_status}}</td>
                                                            <td><a href="{{ url_for('studentCheckSingleQuestion', task_id=task.id) }}">{{ task.title }}</a></td>
                                                            <td class="dn">{{ task.topics }}</td>
                                                            <td>{{ task.timeline }}</td>
                                                            <td class="dn">{{ task.amount  }}</td>
                                                            <td class="dn">12</td>
                                                            <td>2</td>
                                                            <td class="dn">{{ task.tutor_id  }}</td>
                                                        </tr>
                                                        {% endfor %}
        
                                                    </div>

                                                    <div id="new" class="quizAccor">
                                                       
                                                    </div>

                                                    <div id="progress" class="quizAccor">
                                                        
        
                                                    </div>

                                                    <div id="finished" class="quizAccor" >
                                                        
                                                    </div>
    
                                                </tbody>
                                            </table>
    
                                            <p class="text-center p-10-0 fade">No queries have been created yet.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="">
            <div class="">
                <div id="footer" class="footer  f-s-12 footer_type_my js-footer" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
                    <div class="" style="display: flex; flex-direction:column">
                        <div class="col-10 m-a">
                            <ul class=" p-20 footer__links ul-reset display-flex-normal space-between fwm">
                                    <li class="footer__link p-0-20 wp50"><a href="./homeworks-answers.html" title="Homework Answers">Homework Answers</a></li>
                                    <li class="footer__link  p-0-20 wp50"><a href="/ask-a-question" title="Ask a Question" rel="nofollow">Ask a Question</a></li>                    
                                    <li class="footer__link p-0-20 wp50"><a href="/faq" title="FAQ" itemprop="url">FAQ</a></li>
                                    <li class="footer__link p-0-20 wp50"><a href="./write.html" title="Contact Us" itemprop="url">Contact Us</a></li>
                                    <li class="footer__link p-0-20 wp50"><a href="./privacy-policy.html" title="Privacy Policy" itemprop="url">Privacy Policy</a></li>
                                    <li class="footer__link p-0-20 wp50"><a href="/dmca-notice" title="DMCA" itemprop="url">DMCA</a></li>
                                    <li class="footer__link p-0-20 wp50"><a href="/terms-of-use" title="Terms of Use" itemprop="url">Terms of Use</a></li>
                                </ul>        </div>
                        <div class="display-flex ">
                            Copyright © 2023&nbsp;<a  href="./index.html">Freelance</a></div>
                            <div class="copyright copyright_company display-flex text-center p-10" style="line-height: 20px;">
                                        Worbert Limited -  All right reserved.<br>
                            20 Christou Tsiarta Elma 2, 22, 1077, Nicosia, Cyprus
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    

    <script src="./js/jQuery.js"></script>
    <script src="./js/freelance.js"></script>
    <script>
        function toogleSearch()
        {
            $( ".search" ).toggleClass( "searchtransition" )
            $( ".search-mobile" ).toggleClass( "searchtransition" )

            
        }

        window.onscroll = ()=>{

            
            if(document.body.scrollTop > 40 || document.documentElement.scrollTop > 40)
            {
                $("header").addClass("headerBg")
            }

            else
            {
                $("header").removeClass("headerBg")

            }
          }
          if(screen.width > 888)
          {
              $(".mobile").addClass("hide-m")
          }
          else
          {
              $(".mobile").removeClass("hide-m")

          }

          setInterval(()=>{
            if(screen.width > 888)
            {
                $(".mobile").addClass("hide-m")
            }
            else
            {
                $(".mobile").removeClass("hide-m")

            }
          }, 1000);
    </script>
</body>
</html>