<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/nav.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <style>
        header{
            background: #fff !important;

            margin-bottom:400px;
        }
     

    </style>
    <div class="container">
        <header class="b">
            <nav>
                <input type="checkbox" onclick="setTheme()" name="theme" id="theme">
                <div class="navigation-bar-wrapper">
                    <input type="checkbox"  name="openandclose" id="openandclose">
                    <div class="portfolio-logo logo">
                        <h1>STUDYALLIES</h1>
                    </div>
                    <ul class="navigation-bar-links">
                        <a href="">Logout<i class='bx bx-log-out'></i></a>
                    </ul>
                    
                    
                        <label id="open" for="openandclose" class="p-l-10" >
                            <div class="">
                                <div class="menu"></div>
                                <div class="menu mid"></div>
                                <div class="menu"></div>
                            </div>
                        </label>    
                </div>
            </nav>
        </header>  
    </div>
    <div class="p-40 b-b"></div>

    <div class="page-div w-p-100 m-a b-b">
        <div class=" m-a " >
            <div class="display-flex-normal fwm">
                <div class="col-2  prr dn">
                    <div class=" prr side display-flex-normal column b-b b-r w-p-100">
                        <a href="/api/users/ask/question" class=" prr display-flex-normal ">
                            <i class='bx bx-plus-circle p-l-20'></i>
                            <p class="p-l-20">Ask a Question</p>
                        </a>
                        <a href="/api/users/my/questions" class=" prr display-flex-normal ">
                            <i class='bx bxs-folder-open p-l-20'></i> 
                            <p class="p-l-20">My Questions</p>
                        </a>
                        <a href="/api/users/balance" class=" prr display-flex-normal ">
                            <i class='bx bx-money p-l-20'></i>
                            <p class="p-l-20">Balance</p>
                        </a>
                        <a href="/account/support" class=" prr display-flex-normal ">
                            <i class="fa p-l-20 fa-comments"></i> 
                            <p class="p-l-20">
                                Support
                            </p>
                        </a>
                        <a href="{{ url_for('getProfile', username=student.username) }}?_method=PATCH" class="activeSide prr display-flex-normal ">
                            <i class='bx bx-cog p-l-20'></i> <p class="p-l-20">
                                Profile
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-8 m-a" style="min-height: 80vh;">
                    <div class="col-9 m-a">
                        <div class="p-b-40 m-b-20">
                            <div class="p-40-0">
                                <form action="/api/users/profile/{{ username }}" enctype="multipart/form-data" method="POST">
                                    <div class="p-20">
                                        <div class="b-one m-a w-110 b-r-100 align-center h-110  text-center ">
                                            <div class="p-10">
                                                <img class="" src="/static/profileImages/{{ student.profile_pic }}" alt="">
                                            </div>
                                        </div>
                                        <div class="p-10-0">
                                            <div class="p-10" style="display: flex; justify-content:center; align-items: center;">
                                                <label for="profile">
                                                    <p class="cursor-pointer default-color b-one p-10-20 b-r-3">CHOOSE YOUR PICTURE</p>
                                                </label>
                                                <input type="file" name="file" hidden id="profile">
    
                                            </div>
                                        </div>

                                        <div class="display-flex-normal fwm">
                                            <div class="col-6">
                                                <div class=" w-p-100 display-flex-normal column">
                                                    <div class="p-0-20">
                                                        <p class="p-b-10">Username *</p>
                                                        <div class="b-one w-p-100">
                                                            <input type="text" class="b-n p-10"  name="username" id="" value="{{ student.username }}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class=" w-p-100 display-flex-normal column">
                                                    <div class="p-0-20">
                                                        <p class="p-b-10">Email *</p>
                                                        <div class="b-one w-p-100">
                                                            <input type="text" class="b-n p-10"  name="email" id="" value="{{ student.email }}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="display-flex-normal fwm p-t-20">
                                            <div class="col-6">
                                                <div class=" w-p-100 display-flex-normal column">
                                                    <div class="p-0-20">
                                                        <p class="p-b-10">Password</p>
                                                        <div class="b-one w-p-100">
                                                            <input type="text" class="b-n p-10"  name="password" id="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class=" w-p-100 display-flex-normal column">
                                                    <div class="p-0-20">
                                                        <p class="p-b-10">Confirm password</p>
                                                        <div class="b-one w-p-100">
                                                            <input type="text" class="b-n p-10"  name="" id="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="p-20">
                                            
                                        </div>

                                        <div class="">
                                            <div class="p-20">
                                                <div class=" w-p-100 prr p-10-0 display-flex-normal fwm">
                                                    <input type="checkbox" class="" name="" id="sub" style="position: absolute; left: -300px;">
                                                    <label class="p-l-40 cursor-pointer" for="sub">
                                                        Subscribe to StudyDaddy newsletter emails
                                                    </label>
                                                </div>

                                                <div class=" w-p-100 prr p-10-0 display-flex-normal">
                                                    <input type="checkbox" class="" name="" id="subr" style="position: absolute; left: -300px;">
                                                    <label class="p-l-40 cursor-pointer" for="subr">
                                                        Receive email notification for incoming private messages
                                                    </label>
                                                </div>

                                                <div class=" w-p-100 prr p-10-0 display-flex-normal">
                                                    <input type="checkbox" class="" name="" id="subu" style="position: absolute; left: -300px;">
                                                    <label class="p-l-40 cursor-pointer" for="subu">
                                                        Receive updates, recommendation and special offers

                                                    </label>
                                                </div>



                                               


                                            </div>
                                        </div>
                                        <div class=" p-10-0">
                                            <div class="siteButton text-center">
                                                <button class="">UPDATE INFORMATION</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-2  dn">
                    <div class="b-l b-b">
                        <div class="prr">
                            <div class="accountacc">
                                <div class="container-p">
                                    <input type="checkbox"  id="in">
                                    <span class="checkmark-p"></span>
                                </div>
                            </div>
                            <div class="p-t-20 p-l-30">
                                <p>STEP 1</p>
                                
                                <label for="in" class="accordiontab cursor-pointer p-10-0 default-color">Ask a question</label>

                                <div class="accordion-panel p-r-20">
                                  <p class="fade p-10-0">
                                    Type your question details, attach additional files, set up a deadline, and enter the amount you’re willing to pay for an answer.
                                  </p>
                                </div>
                            </div>
                        </div>
    
                        <div class="prr ">
                            <div class="accountacc ">
                                <div class="container-p">
                                    <input type="checkbox"  id="step2">
                                    <span class="checkmark-p"></span>
                                </div>
                            </div>
                            <div class="p-t-20 p-l-30">
                                <p>STEP 2</p>
                                <label for="step2" class="accordiontab cursor-pointer p-10-0 default-color">Choose a tutor</label>
                                <div class="accordion-panel p-r-20">
                                  <p class="fade p-10-0">
                                    Tutors will send their proposals. Choose the one that meets your requirements in terms of time and money.
                                  </p>
                                </div>
                            </div>
                        </div>
    
                        <div class="prr ">
                            <div class="accountacc">
                                <div class="container-p">
                                    <input type="checkbox" id="step3">
                                    <span class="checkmark-p"></span>
                                </div>
                            </div>
                            <div class="p-t-20 p-l-30">
                                <p>STEP 3</p>
                                <label for="step3" class="accordiontab cursor-pointer p-10-0 default-color">Reserve money</label>
                                <div class="accordion-panel p-r-20">
                                  <p class="fade p-10-0">
                                    Tutors will send their proposals. Choose the one that meets your requirements in terms of time and money.
                                  </p>
                                </div>
                            </div>
                        </div>
    
                        <div class="prr ">
                            <div class="accountacc ">
                                <div class="container-p">
                                    <input type="checkbox"  id="step4">
                                    <span class="checkmark-p"></span>
                                </div>
                            </div>
                            <div class="p-t-20 p-l-30">
                                <p>STEP 4</p>
                                <label for="step4" class="accordiontab cursor-pointer p-10-0 default-color">Get your answer</label>
                                <div class="accordion-panel p-r-20">
                                  <p class="fade p-10-0">
                                    Tutors will send their proposals. Choose the one that meets your requirements in terms of time and money.
                                  </p>
                                </div>
                            </div>
                        </div>
    
                        <div class="prr ">
                            <div class="accountacc">
                                <div class="container-p">
                                    <input type="checkbox"  id="step5">
                                    <span class="checkmark-p"></span>
                                </div>
                            </div>
                            <div class="p-t-20 p-l-30">
                                <p>STEP 5</p>
                                <label for="step5" class="accordiontab cursor-pointer p-10-0 default-color">Give feedback</label>
                                <div class="accordion-panel p-r-20">
                                  <p class="fade p-10-0">
                                    Tutors will send their proposals. Choose the one that meets your requirements in terms of time and money.
                                  </p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
  
    <div class="">
        <div class="">
            <div class="">
                <div id="footer" class="footer  f-s-12 footer_type_my js-footer" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
                    <div class="" style="display: flex; flex-direction:column">
                        <div class="col-10 m-a">
                            <ul class=" p-20 footer__links ul-reset display-flex-normal space-between fwm">
                                    <li class="footer__link p-0-20 wp50"><a href="./homeworks-answers.html" title="Homework Answers">Homework Answers</a></li>
                                    <li class="footer__link  p-0-20 wp50"><a href="/ask-a-question" title="Ask a Question" rel="nofollow">Ask a Question</a></li>                    
                                    <li class="footer__link p-0-20 wp50"><a href="/faq" title="FAQ" itemprop="url">FAQ</a></li>
                                    <li class="footer__link p-0-20 wp50"><a href="./write.html" title="Contact Us" itemprop="url">Contact Us</a></li>
                                    <li class="footer__link p-0-20 wp50"><a href="./privacy-policy.html" title="Privacy Policy" itemprop="url">Privacy Policy</a></li>
                                    <li class="footer__link p-0-20 wp50"><a href="/dmca-notice" title="DMCA" itemprop="url">DMCA</a></li>
                                    <li class="footer__link p-0-20 wp50"><a href="/terms-of-use" title="Terms of Use" itemprop="url">Terms of Use</a></li>
                                </ul>        </div>
                        <div class="display-flex ">
                            Copyright © 2023&nbsp;<a  href="./index.html">Freelance</a></div>
                            <div class="copyright copyright_company display-flex text-center p-10" style="line-height: 20px;">
                                        Worbert Limited -  All right reserved.<br>
                            20 Christou Tsiarta Elma 2, 22, 1077, Nicosia, Cyprus
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    

    <script src="/static/js/jQuery.js"></script>
    <script src="/static/js/freelance.js"></script>
    <script>
        // window.location.assign("./ask-question.html")
        function toogleSearch()
        {
            $( ".search" ).toggleClass( "searchtransition" )
            $( ".search-mobile" ).toggleClass( "searchtransition" )

            
        }

        window.onscroll = ()=>{

            
            if(document.body.scrollTop > 40 || document.documentElement.scrollTop > 40)
            {
                $("header").addClass("headerBg")
            }

            else
            {
                $("header").removeClass("headerBg")

            }
          }
          if(screen.width > 888)
          {
              $(".mobile").addClass("hide-m")
          }
          else
          {
              $(".mobile").removeClass("hide-m")

          }

          setInterval(()=>{
            if(screen.width > 888)
            {
                $(".mobile").addClass("hide-m")
            }
            else
            {
                $(".mobile").removeClass("hide-m")

            }
          }, 1000)
    </script>
</body>
</html>