
<!DOCTYPE html>
<html lang="en-US">
<head>
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-74528521-1', 'auto');ga('require', 'GTM-NSBTHQL');ga('send', 'pageview');</script>
<title>Post a tutorial</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<link href="/static/tutor/tutor.css" rel="stylesheet">
</head>
<body>

<div class="wrapper spacer js-wrapper">
    <div class="top-part">
        
        {% include 'partials/tutor_header.html' %}
        <section class="my-page my-page_type_no-border">
            <div class="inner">

                <div class="my-page__big-inner">

                    <div class="my-page__tabs-wrapper">
                        <div class="my-page__tabs js-tabs" data-tabgroup="first-tab-group">
                            <div class="my-page__tabs-item">
                                <a class="my-page__tabs-link" href="/tutor/profile/view">My account</a>                           
                             </div>
                            <div class="my-page__tabs-item">
                                <a class="my-page__tabs-link" href="/tutor/feedback/view">My feedbacks</a>                            
                            </div>
                            <div class="my-page__tabs-item">
                                <a class="my-page__tabs-link my-page__tabs-link_state_active" href="/tutor/password/update">Change password</a>                            </div>
                            <div class="my-page__tabs-item">
                                <a class="my-page__tabs-link" href="/tutor/emails/subscribe">Subscribe</a>                            
                            </div>
                        </div>

                        <span class="my-page__tabs-toggler js-tab-toggler"><i class="fa fa-angle-left"></i> Change password</span>
                    </div>

                    <div class="all-stud__tabs-content-item">
                        <form id="email-notify-form" class="form account__change-password" action="" method="post">
                            <input type="hidden" name="_csrf" value="cXF2WTRVeEoEIjA7bQ0uBUI2MjRhMy0EMx0yHkIYMgUuFiA0DSASPg==">
                                                    <div class="form__row field-changepasswordform-currentpassword required">
                            <label class="control-label" for="changepasswordform-currentpassword">
                                <p class="form__label">Current password:</p>
                            </label>
                            <input type="password" id="changepasswordform-currentpassword" class="full-width" name="ChangePasswordForm[currentPassword]">

                            <p class="help-block2"></p>
                            </div>
                                                    <div class="form__row field-changepasswordform-newpassword required">
                            <label class="control-label" for="changepasswordform-newpassword">
                                <p class="form__label">New password:</p>
                            </label>
                            <input type="password" id="changepasswordform-newpassword" class="full-width" name="ChangePasswordForm[newPassword]">

                            <p class="help-block2"></p>
                            </div>
                            <div class="form__row field-changepasswordform-confirmpassword required">
                                <label class="control-label" for="changepasswordform-confirmpassword">
                                    <p class="form__label">Confirm password:</p>
                                </label>
                                <input type="password" id="changepasswordform-confirmpassword" class="full-width" name="ChangePasswordForm[confirmPassword]">
                            <p class="help-block2"></p>
                            </div>
                        <div class="form__row">
                            <button type="submit" class="button button_color_blue button_size_medium full-width">Update password</button>                       
                         </div>
                        </form>                    
                    </div>
                </div>
            </div>
        </section>

    </div>

    {% include 'partials/main_footer.html' %}
    
    
    <div style="display: none;" id="socket-config" data-socket-url="wss://wss.studydaddy.com:8099" data-user-id="222180"></div>
    
    <script src="/static/js/jQuery.js"></script>
    <script src="/static/tutor/scripts.min.js"></script>
    
    <script type="text/javascript"></script>
    
    </body>
    </html>