
<!DOCTYPE html>
<html lang="en-US">
<head>
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-74528521-1', 'auto');ga('require', 'GTM-NSBTHQL');ga('send', 'pageview');</script>
<title>Post a tutorial</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<link href="/static/tutor/tutor.css" rel="stylesheet">
<!-- <link href="./cabinet_tutor_stylesheets.css" rel="stylesheet"> -->
</head>
<body>

<!-- wrapper -->
<div class="wrapper spacer js-wrapper">
    <div class="top-part">
        
<!-- header -->
    {% include 'partials/tutor_header.html' %}
        <!-- page -->
        <section class="my-page my-page_type_no-border">
            <div class="inner">

                <div class="my-page__big-inner">

                        <div class="my-page__tabs-wrapper">
                            <div class="my-page__tabs js-tabs" data-tabgroup="first-tab-group">
                                <div class="my-page__tabs-item">
                                    <a class="my-page__tabs-link my-page__tabs-link_state_active" href="./index.html">My account</a>                                </div><!--href="#tab1" js-tab-->
                                <div class="my-page__tabs-item">
                                    <a class="my-page__tabs-link" href="/tutor/feedback/view">My feedbacks</a>                                
                                </div>
                                <div class="my-page__tabs-item">
                                    <a class="my-page__tabs-link" href="/tutor/password/update">Change password</a>                                
                                </div>
                                <div class="my-page__tabs-item">
                                    <a class="my-page__tabs-link" href="/tutor/emails/subscribe">Subscribe</a>                                
                                </div>
                            </div>

                            <span class="my-page__tabs-toggler js-tab-toggler"><i class="fa fa-angle-left"></i> My account</span>
                        </div>

                        <div class="all-stud__tabs-content js-tabs-content js-main-account" id="first-tab-group">
                            <div style="display: block;" class="all-stud__tabs-content-item js-tabs-item" id="tab1">

                                <div class="account__wrapper">

                                    <!-- photo & status -->
                                    <div class="account__photo">
                                        <img class="account-page__avatar-picture" src="/static/images/1.png" alt="johnwaithira">                                        <p class="account__status account__status_type_online">Online</p>
                                    </div>

                                    <!-- account header -->
                                    <div class="account__header">
                                        <div class="account__user-name account__header-item">johnwaithira</div>

                                        <div class="account__header-rating account__header-item" data-toggle="tooltip" data-placement="top" title="Rated: 0 Feedback: 0">
                                             <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>                                        </div>

                                        <div>
                                            <span class="tutor-statistic__icon " data-toggle="tooltip" data-placement="top" title="Payment method verified">
                                                <i class="fa fa-check"></i>
                                            </span>
                                            <span class="tutor-statistic__icon " data-toggle="tooltip" data-placement="top" title="Phone verified">
                                                <i class="fa fa-phone"></i>
                                            </span>
                                            <span class="tutor-statistic__icon tutor-statistic__icon_state_disabled" data-toggle="tooltip" data-placement="top" title="Diploma verified">
                                                <i class="fa fa-graduation-cap"></i>
                                            </span>
                                            <span class="tutor-statistic__icon " data-toggle="tooltip" data-placement="top" title="Email verified">
                                                <i class="fa fa-at"></i>
                                            </span>
                                        </div>

                                        <div class="account__header-edit">
                                            <a class="js-edit-button" href="javascript:;"><i class="fa fa-pencil">&nbsp;</i>Edit</a>                                        </div>
                                    </div>

                                    <!-- about  -->
                                                                            <div class="account__info-block">
                                            <p class="account__subtitle">About me:</p>
                                            <p class="account_description">Name: John
<br /><br />Education:
<br />I hold a Bachelor's degree in Computer Science from a reputable university. During my studies, I gained a solid foundation in various programming languages, algorithms, data structures, and software development methodologies. I also took specialized courses in areas such as web development, database management, and artificial intelligence. My education equipped me with a strong theoretical understanding of computer science principles and practical skills in implementing software solutions.

                                        </div>
                                    
                                    <!-- expertise -->
                                    <div class="account__info-block">
                                        <p class="account__subtitle">My areas of expertise:</p>
                                                                                    <span class="account__expertise-item"><i class="fa fa-check"></i> Computer Science</span>
                                                                            </div>

                                    <!-- time zone -->
                                    <div class="account__info-block">
                                        <p class="account__subtitle">Default time zone:</p>
                                        <p>Africa/Nairobi (GMT+03:00) Nairobi</p>
                                    </div>

                                    <!-- docs -->
                                    
                                    <!-- email -->
                                    <div class="account__info-block">
                                        <p class="account__subtitle">My email*:</p>
                                        <p><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d4a3b5bda0bcbda6b5b3b5b7bcb5a0bcb594a7a0a1b0b1baa0a7fab9a1a7a0fab5b7fabfb1">[email&#160;protected]</a></p>
                                    </div>

                                    <!-- pp email -->
                                    
                                    <p class="account__bottom-caption form__row-caption account__light-caption">*Private information is visible only to you </p>

                                </div>
                            </div>
                        </div>
                    
                    <div class="all-stud__tabs-content js-tabs-content js-edit-account" style="display: none">
                        <div style="display: block;" class="all-stud__tabs-content-item">

                            <div class="account__wrapper">

                                <!-- photo & status -->
                                <div class="account__photo">
                                    <img class="account-page__avatar-picture js-ava" src="/static/images/1.png" alt="johnwaithira">                                </div>

                                <!-- account header -->
                                <div class="account__header">
                                    <div class="account__user-name">johnwaithira</div>
                                </div>

                                <div class="form__row">
                                    <span class="button button_bordered_blue button_size_medium account-page__avatar-button js-choose-picture">
                                        Choose your picture
                                    </span>
                                </div>

                                <form id="teacher-profile-form" class="form" action="" method="post" enctype="multipart/form-data">
<input type="hidden" name="_csrf" value="dnguZ3A0el8DK2gFKWwsEEU/agolUi8RNBRqIAZ5MBApH3gKSUEQKw==">
                                    <div class="field-teacherprofileform-photofile" style="display:none">
<label class="control-label" for="teacherprofileform-photofile">My Picture</label>
<input type="file" id="teacherprofileform-photofile" class="js-upload-picture" name="TeacherProfileForm[photoFile]">

<p class="help-block help-block-error"></p>
</div>
                                    <div class="form__row account__divider-row field-teacherprofileform-about required">
<label class="control-label" for="teacherprofileform-about"><p class="form__label">About me: <span class="form__label-caption account__label-caption">(please, fill in the information about your education and skills. Minimum is 400 characters.)</span></p></label>
<textarea id="teacherprofileform-about" class="full-width" name="TeacherProfileForm[about]" rows="5">Name: John

Education:
I hold a Bachelor&#039;s degree in Computer Science from a reputable university. During my studies, I gained a solid foundation in various programming languages, algorithms, data structures, and software development methodologies. I also took specialized courses in areas such as web development, database management, and artificial intelligence. My education equipped me with a strong theoretical understanding of computer science principles and practical skills in implementing software solutions.

Skills:

</textarea>

<p class="help-block help-block-error"></p>
</div>
                                    <div class="form__row field-teacherprofileform-categoryids required">
<span class="question-form__error-message"></span>
<p class="form__label">My areas of expertise: </p>
            <ul class='question-form__categories'>
                <li class="question-form__categories-item"><input type="checkbox"  name="TeacherProfileForm[categoryIds][]" id="1" value = "1"><label class="question-form__category" for="1">Accounting</label></li>
                <li class="question-form__categories-item"><input type="checkbox"  name="TeacherProfileForm[categoryIds][]" id="2" value = "2"><label class="question-form__category" for="2">Algebra</label></li>
                <li class="question-form__categories-item"><input type="checkbox"  name="TeacherProfileForm[categoryIds][]" id="3" value = "3"><label class="question-form__category" for="3">Applied Sciences</label></li>
            </ul>
</div>
                                    <div class="form__row field-teacherprofileform-timezoneid required">
<p class="help-block help-block-error"></p>
<label class="control-label" for="teacherprofileform-timezoneid">
<p class="form__label">Default time zone:</p></label>
<div class='custom-select account__timezone-select'>
    <select id="teacherprofileform-timezoneid" class="form-control" name="TeacherProfileForm[timeZoneId]">
        <option value="1">Pacific/Midway (GMT-11:00) Midway Island</option>
        <option value="2">US/Samoa (GMT-11:00) Samoa</option>
        <option value="3">US/Hawaii (GMT-10:00) Hawaii</option>
        <option value="4">US/Alaska (GMT-09:00) Alaska</option>
        <option value="5">US/Pacific (GMT-08:00) Pacific Time (US &amp;amp; Canada)</option>
        <option value="6">America/Tijuana (GMT-08:00) Tijuana</option>
        <option value="7">US/Arizona (GMT-07:00) Arizona</option>
        <option value="8">US/Mountain (GMT-07:00) Mountain Time (US &amp;amp; Canada)</option>
        <option value="9">America/Chihuahua (GMT-07:00) Chihuahua</option>
        <option value="10">America/Mazatlan (GMT-07:00) Mazatlan</option>
    </select>
</div>
</div>
                                                                            <!-- docs -->
                                        <div class="form__row">
                                            <p class="form__label">My documents:</p>

                                            <p class="account__file-row">
                                                <div class="field-teacherprofileform-diplomafiles">
<span class="help-block2"></span>
<div style='display: none'><input type="file" id="teacherprofileform-diplomafiles" class="js-input-docks" name="TeacherProfileForm[diplomaFiles][]" multiple="multiple"></div>
</div>                                                <a class="js-a-docks" href="javascript:;">Attach Credentials</a>                                            </p>

                                            <p class="account__file-row js-docks-attached">
                                                                                            </p>

                                            <p class="account__file-row">
                                                <div class="field-teacherprofileform-passportfile">
<span class="help-block2"></span>
<div style='display: none'><input type="file" id="teacherprofileform-passportfile" class="js-input-passport" name="TeacherProfileForm[passportFile]"></div>
</div>                                                <a class="js-a-passport" href="javascript:;">Load My Passport ID</a>                                            </p>

                                            <p class="account__file-row js-passport-attached">
                                                                                            </p>
                                        </div>

                                        <!-- email -->
                                        <div class="form__row account__info-block_type_inline">
                                            <p class="form__label">My email*:</p>
                                            waithiragach<a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="92f3e6faf3d2e1e6e7f6f7fce6e1bcffe7e1e6bcf3f1bcf9f7">[email&#160;protected]</a>                                        </div>

                                        <!-- pp email -->
                                        <div class="form__row account__info-block_type_inline">
                                            <p class="form__label">My PayPal email*:</p>
                                            <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="264c494e484151474f524e4f544766414b474f4a0845494b">[email&#160;protected]</a>                                        </div>

                                        <div class="form__row account__edit-bottom">
                                            <span class="account__bottom-caption form__row-caption account__light-caption">
                                                *If you would like to change your account email or payment email, please contact <a href="/support">support</a>.
                                            </span>
                                            <button type="submit" class="button button_color_blue button_size_medium account__save-button">Save settings</button>                                        </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </div>
    {% include 'partials/main_footer.html' %}
    
    
    <div style="display: none;" id="socket-config" data-socket-url="wss://wss.studydaddy.com:8099" data-user-id="222180"></div>
    <script src="/static/js/jQuery.js"></script>
    <script src="/static/tutor/scripts.min.js"></script>
    
    <script type="text/javascript"></script>
    
    
    </body>
    </html>