
<!DOCTYPE html>
<html lang="en-US">
<head>
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-74528521-1', 'auto');ga('require', 'GTM-NSBTHQL');ga('send', 'pageview');</script>
<title>Post a tutorial</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<link href="/static/tutor/tutor.css" rel="stylesheet">
<link href="/static/tutor/cabinet_tutor_stylesheets.css" rel="stylesheet">
</head>
<body>

<!-- wrapper -->
<div class="wrapper spacer js-wrapper">
    <div class="top-part">
        
<!-- header -->
    {% include 'partials/tutor_header.html' %}
        <!-- page -->
        <section class="my-page my-page_type_no-border">
            <div class="inner">
                <div class="my-page__big-inner find-question">
                    <!-- top form -->
                    <form class="find-question__form js-search-hw-form" action="" method="get">                   
                         <div class='accounting-form-child'>
                            <input type="text" class="accounting-form__control js-search-input js-search-question" name="query" value="" placeholder="Question">
                        </div>                        
                            <div class="custom-select find-question__form-select">
                            <select class="js-select-hw" name="category" onchange="$('.js-search-hw-form').attr('action', '/&' + $(this).val());">
                                <option value="homeworks-answers" selected>All categories</option>
                                <option value="Accounting">Accounting</option>
                                <option value="Algebra">Algebra</option>
                            </select>                   
                        </div>

                    <button type="submit" class="button button_color_blue accounting-form__button"><i class="fa fa-search"></i> Search</button>                    </form>
                    <!-- accounting list -->
                    <p class="accounting-list__title">Question</p>

 <ul id="w0" class="accounting-list">                                          
{% for task in tasks %}
    <li class="accounting-item">
        <p class="accounting-item__info">
            <a class="accounting-item__link" href="{{ url_for('TutorCheckSingleQuestion', task_id=task.id) }}" style="font-size: 16px;">{{ task.description|safe }}</a>    </p>
        <div class="account-item__price">
            <div>
                ${{ task.Amount }} </div>
            <div class="accounting-item__price-caption">{{ task.topics }}</div>
            <span class="accounting-item__label accounting-item__label_color_blue">
                {{ task.progress_status }}</span>
        </div>
    </li>
{% endfor %}
</ul>                    
 
<div class="pager">
    <ul class="pager__list">
        <li class="pager__item pager__link_type_direction pager__link_state_disabled">
            <a class="pager__link"><i class="fa fa-angle-left"></i></a>
        </li>
        <li class="pager__item pager__link_state_active">
            <span class="pager__link" data-page="0">1</span>
        </li>
        <li class="pager__item">
            <a class="pager__link" href="../homeworks-answers.html" data-page="1">2</a>
        </li>
        <li class="pager__item">
            <a class="pager__link" href="../homeworks-answers.html" data-page="2">3</a>
        </li>
        <li class="pager__item pager__link_type_direction">
            <a class="pager__link" href="../homeworks-answers.html" data-page="1">
            <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>                                        
</div>


                </div>
            </div>
        </section>

    </div>
    {% include 'partials/main_footer.html' %}
    
    
    <div style="display: none;" id="socket-config" data-socket-url="wss://wss.studydaddy.com:8099" data-user-id="222180"></div>
    
    <script src="/static/js/jQuery.js"></script>
    
    <script type="text/javascript"></script>
    
    
    </body>
    </html>