<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="mo-signup"></div>    

    <style>
        header{
            background: #fff !important;

            margin-bottom:400px;
        }
        .login-form
        {
            height: 90vh;
            background: url(./images/bg-form.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .bx {
            box-sizing: border-box;
            width: 100%;

        }
        .of{
            outline: none;
            
        }
        .login-form form .bx .b-one
        {
            background: #fff;
        }
    </style>
    <div class="container">
        <header class="b">
            <nav>
                <input type="checkbox" onclick="setTheme()" name="theme" id="theme">
                <div class="navigation-bar-wrapper">
                    <input type="checkbox"  name="openandclose" id="openandclose">
                    <div class="portfolio-logo logo">
                        <a href="/">
                            <h1>Freelance Bay</h1>
                        </a>
                    </div>
                    {% if user %}
                     {% include 'partials/authenticated.html' %} 
                  {% else %}
                     {% include 'partials/anonymous.html' %} 
                  {% endif %}
                    
                    
                    <div class="mobile" style="display: flex;gap:10px;">
                        <li class="s-icon"><i onclick="toogleSearch()" class="bx bx-search"></i></li>
                        <label id="open" for="openandclose" class="p-l-10" >
                            <div class="">
                                <div class="menu"></div>
                                <div class="menu mid"></div>
                                <div class="menu"></div>
                            </div>
                        </label>

                        <div class="search-mobile b-r-10 ">
                            <input class="p-l-10" type="text" placeholder="Search...">
                            <i onclick="toogleSearch()" class='bx bx-search p-r-10'></i>
                        </div>
                    </div>
                    
                </div>
            </nav>
        </header>  
    </div>
    <div class="p-47"></div>
    <div class="mo-signup"></div>    

    <div class="col-10 bs m-a login-form">
        <div class="display-flex ">
            <div class="col-4">
                <div class="p-40-26">
                    <form action="">
                        <div class="bx">
                            <div class="text-center">
                               <h3> PASSWORD RECOVERY</h3>
                               <p class="p-t-10"> We'll send you an email containing the link to reset your password. </p>
                            </div>
    
                            <div class="p-t-30">
                                <div class="display-flex-normal column bx">
                                    <p class="p-0-6">Email</p>
                                    <div class="b-one w-p-96 of m-t-10 p-0-10 m-a">
                                        <input type="email" required class="p-10-0  b-n">
                                    </div>
                                </div>
                            </div>
    
                            
    
                            <div class="p-t-10">
                                <div class="display-flex-normal column w-p-100">
                                    
                                    <div class=" w-p-96 of m-t-10 p-0 m-a siteButton">
                                        <button  style="padding: 10px 0;" class="text-center w-p-100 p-12-0  b-n b-one">
                                            Forget Password
                                        </button>
                                    </div>
                                </div>
                            </div>
    
                            <div class="p-t-20">
                                <div class="text-center">
                                    <a href="/auth/login"> Go back to sign in</a>
                                </div>
                            </div>
    
    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/footer.html' %} 


    

    <script src="./js/jQuery.js"></script>
    <script src="./js/freelance.js"></script>
    <script>
        function toogleSearch()
        {
            $( ".search" ).toggleClass( "searchtransition" )
            $( ".search-mobile" ).toggleClass( "searchtransition" )

            
        }

        window.onscroll = ()=>{

            
            if(document.body.scrollTop > 40 || document.documentElement.scrollTop > 40)
            {
                $("header").addClass("headerBg")
            }

            else
            {
                $("header").removeClass("headerBg")

            }
          }

          setInterval(()=>{
            if(screen.width > 888)
            {
                $(".mobile").addClass("hide-m")
            }
            else
            {
                $(".mobile").removeClass("hide-m")

            }
          }, 1000)
    </script>
</body>
</html>