<ul class="navigation-bar-links">
    <li><a href="/how/it/works">How it Works</a></li>
    <li><a href="/homework/answers">Homework Answers</a></li>
    <li><a href="/ask/a/question">Ask a Question</a></li>
    <li><a href="/top/tutors">Top Tutors</a></li>
    <li><a href="/faqs">FAQ</a></li>
    {% if user.role == "student" %}
        <li class="cursor-pointer p-10-20">
            <p><a href="{{ url_for('getProfile', username=user.username) }}">My Account</a></p>
        </li>
    {% else %}
        <li class="cursor-pointer p-10-20">
            <p><a href="{{ url_for('TutorProfile', username=user.username) }}">My Account</a></p>
        </li>
    {% endif %}
    <li><i   onclick="toogleSearch()" class="bx bx-search mob"></i></li>

    <div class="search b-r-10">
        <form action="/search" method="get">
            <input class="p-l-10" type="text" placeholder="Search...">
            <i onclick="toogleSearch()" class='bx bx-search p-r-10'></i>
        </form>
    </div>
</ul>