<div class="">
    <div class="">
       <div class="">
          <div id="footer" class="footer  f-s-12 footer_type_my js-footer" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
             <div class="" style="display: flex; flex-direction:column">
                <div class="col-10 m-a">
                   <ul class=" p-20 footer__links ul-reset display-flex-normal space-between fwm">
                       <li class="footer__link p-0-20 wp50"><a href="/homework/answers" title="Homework Answers">Homework Answers</a></li>
                       <li class="footer__link  p-0-20 wp50"><a href="/ask/a/question" title="Ask a Question" rel="nofollow">Ask a Question</a></li>                    
                       <li class="footer__link p-0-20 wp50"><a href="/faqs" title="FAQ" itemprop="url">FAQ</a></li>
                      <li class="footer__link p-0-20 wp50"><a href="/contact/us" title="Contact Us" itemprop="url">Contact Us</a></li>
                      <li class="footer__link p-0-20 wp50"><a href="/privacy/policies" title="Privacy Policy" itemprop="url">Privacy Policy</a></li>
                      <li class="footer__link p-0-20 wp50"><a href="/dmca/notice" title="DMCA" itemprop="url">DMCA</a></li>
                      <li class="footer__link p-0-20 wp50"><a href="/terms" title="Terms of Use" itemprop="url">Terms of Use</a></li>
                      <li class="footer__link_no_border"><a href="/site/map" title="Sitemap" itemprop="url">Sitemap</a></li>
                   </ul>
                </div>
                <div class="display-flex ">
                   Copyright © 2023&nbsp;<a  href="/">Freelance</a>
                </div>
                <div class="copyright copyright_company display-flex text-center p-10" style="line-height: 20px;">
                   Worbert Limited -  All right reserved.<br>
                   20 Christou Tsiarta Elma 2, 22, 1077, Nicosia, Cyprus
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>