<header class="header  js-header  withInfoLabel">
    <div class="inner header_type_my">
        <div class="logo">
            <a href="/">Freelance<span>Bay</span></a>
        </div>

        <!-- navigation -->
        <ul class="my-page__nav js-navigation">
            <li class="my-page__nav-item ">
                <a class="my-page__nav-link" href="/api/users/tutor/available/tasks">
                    <span class="my-page__nav-title">
                        <i class="fa fa-search"></i> Find a Question
                    </span>
                </a>
            </li>

            <li class="my-page__nav-item" active>
                <a class="my-page__nav-link" href="/api/users/my/answers"><span class="my-page__nav-title">My answers</span><span class="my-page__nav-notification my-page__nav-notification_type_text js-proposals-global-mark"><span class="js-header-msg-count">0</span> new<span class="js-proposal-global-end"> messages</span></a>            
            </li>

            <li class="my-page__nav-item" >
                <a class="my-page__nav-link" href="/api/users/tutorials/view"><span class="my-page__nav-title">My tutorials</span></a>            </li>

            <li class="my-page__nav-item" >
                <a class="my-page__nav-link" href="/api/users/payments/view"><span class="my-page__nav-title">Payments</span><span class="my-page__nav-notification my-page__nav-notification_type_text">$0.00 | $0.00 available</span></a>            </li>

            <li class="my-page__nav-item ">
                <a class="my-page__nav-link" href="/api/users/support/tutor/request"><span class="my-page__nav-title">Support</span><span class="my-page__nav-notification my-page__nav-notification_type_text">0 new notification</span></a>            </li>

            <li class="my-page__nav-item_type_additional">
                <!-- mobile-button -->
                <span class="my-page__nav-link_type_hamburger js-hamburger-button">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>

                <ul class="my-page__hidden-nav">
                    <li class="navigation__item"><a class="navigation__link" href="/tutor/profile/view">Profile</a></li>
                    <li class="navigation__item"><a class="navigation__link" href="">Logout</a></li>
                </ul>
            </li>
        </ul>

        <!-- mobile-button -->
        <span class="navigation__item navigation__link navigation__link_type_search navigation__link_type_navigation js-navigation-button">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </div>        
    
</header>