<footer id="footer" class="footer footer_type_my js-footer" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <div class="container">
       <nav class="nav">
          <ul class="footer__links ul-reset">
             <li class="footer__link"><a href="/homework/answers" title="Homework Answers">Homework Answers</a></li>
             <li class="footer__link"><a href="/faqs" title="FAQ" itemprop="url">FAQ</a></li>
             <li class="footer__link"><a href="/contact/us" title="Contact Us" itemprop="url">Contact Us</a></li>
             <li class="footer__link"><a href="/privacy/policies" title="Privacy Policy" itemprop="url">Privacy Policy</a></li>
             <li class="footer__link"><a href="/dmca/notice" title="DMCA" itemprop="url">DMCA</a></li>
             <li class="footer__link"><a href="/terms" title="Terms of Use" itemprop="url">Terms of Use</a></li>
             <li class="footer__link_no_border"><a href="/site/map" title="Sitemap" itemprop="url">Sitemap</a></li>
          </ul>
       </nav>
       <div  class="footer__copyright copyright">Copyright &copy; 2023 <a itemprop="url"  href="/">Freelance Bay</a></div>
       <div class="copyright copyright_company">
          Worbert Limited -  All right reserved.<br>
          20 Christou Tsiarta Elma 2, 22, 1077, Nicosia, Cyprus
       </div>
    </div>
 </footer>